
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background-color: rgb(37, 37, 37);
  overflow-y:scroll;
  position: static;
  height: 100vh;
  overflow: hidden; /*! возможно удалить для прокрутки фильмов!!! */
}

#firstPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#firstLine, #secondLine, #thirdline {
  width: 100%;
  height: 20px;
  position: absolute;
  
  /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! СНЯТЬ */
  /* background-color: transparent !important; */
  top: 0;
  filter: blur(5px);

}




 

#github {
  color: aliceblue;
  margin: 50px;
  /* border: 1px solid rgb(86, 100, 112); */
}

#avatar {
  width: 200px;
}


/*! Логотип Windows */
#aliveEmblem {
  position: absolute;
  width: 150px;
  top: calc(50% - 75px);
  left: calc(50% - 75px);

  /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! СНЯТЬ */
  /* opacity: 0 !important; */
  filter:brightness(0)
  blur(3px)
  drop-shadow(0px 0px 5px aliceblue);
   
}



/*! Двигающиеся шарики по экрану*/
 #starSky, #starSky2 {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  display: none;
}

#starSky2 {
  display: block;
}

#starSky>div  {
  width: 10px;
  height: 10px;
  /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! СНЯТЬ */
  background-color: aliceblue;
  box-shadow: 0px 0px 10px aliceblue;
  border-radius: 50%;
  position: absolute;
  color: aliceblue;
  opacity: .5;
  display: none;
}

#starSky2>div {
  position: absolute;
  display: none;
  
}

#comet {
  position: absolute;
  filter:drop-shadow(0px 0px 15px aliceblue);
  rotate: 30deg;
  animation: moveComet 6s infinite forwards ;
  animation-fill-mode: forwards;
  opacity: .8;
  animation-iteration-count: 3;
  animation-delay: 3s;
}
/* @keyframes moveComet {
  from {
    transform: translateX(90%);
    transform: translateY(25%);
  }
  to {
    transform: translateX(45%);
    transform: translateY(80%);
  } 
} */
@keyframes moveComet {
  from {
    left: 100%;
    top: 25%;
  }
  to {
    left: -15%;
    top: 80%;
  } 
}


 #menu {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  position: relative;
  width: 120px;
  z-index: 2;
}
 
#menu li   {
  list-style: none;
  width: 250px;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
}

#menu>li:hover ul {
  display: block;
}
#menu ul {
  margin-left: -26%;
  display: none; 
} 


#menu li ul li:hover{
  background-color: rgb(211, 211, 211, .3);
  width: 180px;
}
@media screen and (max-width:400px) {
  #comet {
    rotate: 15deg;
    animation-duration: 1.5s;
  }
}